html, body {
    min-height: 100%;
    width: 100%;
    background: linear-gradient(44deg, #34445B, #531E47);
    /* background-attachment: fixed; */
    color: #687589;
}
section {
    margin-top: 15px;
}
.greeting {
    margin: 25px 0px;
    text-align: center;
}
.greeting h3 {
    margin-bottom: 0;
}
.my-name, .title {
    color: #f0f0f0;
    font-size: 5.0rem;
}
.opener {
    font-size: 2.5rem;
    text-align: center;
}
.introduction {
    margin-bottom: 10px;
}
.social-links, #resume-link {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.social-links li {
    margin: auto 15px;
    align-items: center;
    justify-content: center;
}
.social-links li>a {
    color: #B79AB0; 
    font-size: 1.75rem;
    height: 100%;   
}
.social-links li>a:hover {
    color: rgba(151, 110, 142, 0.5);
}
#resume-link a {
    background-color: #B79AB0;
    color: #1F314B;
    border: 1px solid #976E8E;
    text-decoration: none;
    padding: 8px 15px; 
    border-radius: 2.5px;
    top: 0; 
}
#resume-link a:hover {
    background-color: rgba(151, 110, 142, 0.5);
}
.panel {
    min-height: 75vh;
    display: flex;
    padding: 60px 10px 20px;
    text-align: center;
    margin-top: 20px;
    font-size: 2.0rem;
}
.landing {
    align-items: center;
    height: 100vh;
    min-height: 100vh;
    display: flex;
}
.title {
    margin-bottom: 20px;
    font-weight: 600;
}
.skills {
    min-height: 100vh;
}
.skills-grid {
    width: 50%;
}
.skills-group {
    background-color: rgba(100, 100, 100, 0.1);
    padding: 20px;   
}
.scroll-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
}
.scroll-prompt {
    text-transform: uppercase;
    text-align: center;
    font-size: 1.25rem;
    letter-spacing: 0.05rem;
    margin-bottom: 0;
}
.chevron i {
    animation: hover 1.5s infinite ease-in-out alternate;
    color: #f0f0f0;
}
@keyframes hover {
    50% {transform: translate3d(0, 5px, 0);}
    100% {transform: translate3d(0, 0px, 0);}
}
.navbar-spacer {
    display: block;
    width: 100%;
    height: 200px;
}
.navbar {
    display: none;
    width: 100%;
    height: 4.5rem;
    z-index: 99;
    border-top: 1px solid #34445B;
    border-bottom: 1px solid #34445B; 
    background-color: #34445B;
    box-shadow: 0px 5px 20px #34445B;
}
.navbar > .container {
    width: 100%; 
    padding: 0;
    margin-left: 30px;
}
.navbar-list {
    list-style: none;
    width: 100%;
    margin-bottom: 0; 
}
.navbar-home {
    font-size: 2.0rem;
    text-decoration: none;
    color: #f0f0f0;
    margin-right: 20px;
    line-height: 4.5rem;
}
.navbar-item {
    position: relative;
    float: left;
    margin-bottom: 0; 
}
.navbar-link {
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 600;
    letter-spacing: .1rem;
    margin-right: 15px;
    text-decoration: none;
    line-height: 4.5rem;
    color: #687589; 
}
.navbar-link.active {
    color: #33C3F0; 
}
.has-docked-nav .navbar {
    position: fixed;
    top: 0;
    left: 0; 
}
.has-docked-nav .navbar > .container {
    width: 80%;
}
.project-title {
    margin-top: 30px;
}
.project-box {
    margin-top: 30px;
}
.project-img {
    background-color: rgba(100, 100, 100, 0.1);
    max-width: 100%;
}
.details-box, .email-box {
    position: relative;
    /* background: rgba(52, 68, 91, 0.5); */
    background-color: rgba(100, 100, 100, 0.1);
    /* box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3); */
}
.image-box {
    position: relative;
    font-size: 1.7rem;
}
.external-icon {
    position: absolute;
    top: 5px;
    right: 5px;
}
.repo-link {
    text-decoration: none;
    line-height: 2.0rem;
    padding: 5px;
    color: #687589; 
}
.repo-link > p {
    padding-top: 20px;
}
.email-box {
    display: block;
    font-size: 1.5rem;
    width: 300px;
    margin: 0 auto;
    padding: 20px 0;
    text-decoration: none;
    color: #B79AB0; 
    border-radius: 20px;
}
.email-box h5 {
    margin-bottom: 0;
}
textarea {
    resize: none;
}
label {
    text-align: left;
}
.contact {
    margin-bottom: 100px;
}

@media screen and (min-width: 1000px) {
    .greeting {
        text-align: right;
    }
    .opener {
        text-align: left;
    }
    .panel {
        min-height: 100vh;
        padding: 150px 0;
        margin: auto;
    }
    /* .about {
        padding: 300px 0;
    } */
    .skills-grid {
        width: 100%;
    }
    .navbar-spacer {
        display: block;
        width: 100%;
        height: 200px;
    }
    .navbar {
        display: block;
        width: 100%;
        height: 6.5rem;
        z-index: 99;
        border-top: 1px solid #34445B;
        border-bottom: 1px solid #34445B; 
    }
    .navbar > .container {
        width: 100%; 
    }
    .navbar-list {
        list-style: none;
        margin-bottom: 0; 
    }
    .navbar-home {
        font-size: 3.0rem;
        text-decoration: none;
        color: #f0f0f0;
        margin-right: 50px;
        line-height: 6.5rem;
    }
    .navbar-item {
        position: relative;
        float: left;
        margin-bottom: 0; 
    }
    .navbar-link {
        text-transform: uppercase;
        font-size: 11px;
        font-weight: 600;
        letter-spacing: .2rem;
        margin-right: 35px;
        text-decoration: none;
        line-height: 6.5rem;
        color: #687589; 
    }
    .navbar-link.active {
        color: #33C3F0; 
    }
    .has-docked-nav .navbar {
        position: fixed;
        top: 0;
        left: 0; 
    }
    .has-docked-nav .navbar > .container {
        width: 80%;
    }
    .project-img:hover {
        color: rgba(0, 0, 0, 0.3);
    }
    .details-box, .repo-link {
        text-align: left;
        margin-left: 10px;
        padding: 20px;
    }
    .project-img {
        height: 100%;
    }
    .email-box {
        width: 400px;
        color: #B79AB0; 
    }
    .contact {
        margin-bottom: 100px;
    }
}
@media screen and (min-width: 2400px) {
    .panel {
        min-height: 75vh;
        padding: 25vh 0;
        margin: auto;
    }
}
@media screen and (min-height: 670px) {
    .scroll-box {
        top: 120px;
    }
}